html
  head
  charset= utf-8
  title= WSS Pol
  //<link href="poll.css" rel="stylesheet" type="text/css">
  script src="poll.js"


  h1= 'Web Socket Server Poll'

  h2= 'BEst house person '
  input= 'id="user" type="text"'
  section= 'id="pollContainer"'


  section id="buttons"
